footer img {
  width: 30px;
}
/* navBar */
nav div img {
  width: 25px;
}

nav {
  box-shadow: 1px 5px 10px #143245;
  
}
nav h1 {
  text-align: right;
}

nav a {
  font-family: "Lato", sans-serif;
}

.headerColor {
  background-color: #242F9B;
}

header img {
  width: 70px; }

.navColor {
  color: #ffffff; }


/* Productos */
.tarjetasProductos {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cuadricula;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.tarjetasProductos div {
  margin-bottom: 40px;
  background-color: rgb(246, 216, 216);
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

@media (min-width: 768px) {
  .tarjetasProductos div {
    width: 360px;
    margin-inline: 40px;
    margin-block: 40px;
  }
}

.tarjetasProductos div:hover {
  -webkit-box-shadow: 10px 10px 50px #143245;
}

.tarjetasProductos div:hover h2 {
  color: #212529;
}

.tarjetasProductos img {
  width: 70vw;
  height: 350px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .tarjetasProductos img {
    width: 360px;
    max-height: 200px;
  }
}

.tarjetasProductos h3 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
  color: #212529;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-left: 1rem;
}

.tarjetasProductos h2 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 1.6rem;
  font-style: italic;
  color: #f3a544;
  padding-left: 1rem;
}

body {
  background-color: #9BA3EB;
}

.btn-info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(246, 216, 216);
}
/* Carrito */
.offcanvas {
  background-color: #646FD4;
  
}

.offcanvas-header h5{
  font-family: "Lato", sans-serif;
}

#carrito {
  width: 90%;
  background-color: #9BA3EB;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
}

#carrito span {
  width: 100%;
}

.estiloCarrito {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-auto-rows: 40px;
}

.estiloCarrito div {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #959eeb;
  /* border-radius: 10px; */
  margin-bottom: 2px;
}

.carritoTitulos {
  width: 100%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-auto-rows: 30px;
}

.carritoTitulos div {
  text-align: center;
}

.carritoTitulos div h4 {
  font-size: 20px;
  text-align: center;
}

.botonCarrito {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 50px;
}

.botonCarrito button {
  margin: auto 20px;
}


.ocultarPlantilla {
  display: none;
}

.carritoVacio{
  display: none;
}

#precioTotal {
  background-color: #8f97e2;
  border-radius: 10px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 22px;
}

a{
  text-decoration: none;
  color: #ffffff;
}

/* Modal */

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modalDiv {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modalDiv {
    margin-top: 0;
}

.modalDiv h3 {
    color: royalblue;
    padding-bottom: 5px;
}
.modalDiv #btnCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}
.modalDiv #btnCerrar:hover {
    cursor: pointer;
}
.modalDiv #btnCerrar:focus {
    outline: none;
}
.modalDiv .precioProducto {
    padding-top: 10px;
    
}